@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.HomeMain{
    background: url("./assets/homeBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}